*{
    margin: 0;
}

header{
    background-color: rgb(139, 119, 93);
    color:rgb(156, 148, 135);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    color:rgb(128, 150, 150);
    align-items: center;
    pad: 30px;       
}     

ul{
   display: flex;
   gap: 40px; 
}

#nome-logo{
    margin-left: 30px;
}

